* {
  word-wrap: break-word !important;
}

div.form-note,
div.sticky-note {
  font-family: 'Reenie Beanie';
  font-size: 20px;
  background: #ffc;
  padding: 1em;
  position: relative;
  top: 50px;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
}

div.form-note:before,
div.sticky-note:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: #EFE8A9 #cacdd2;
  -webkit-transition: all ease .9s;
  transition: all ease .9s;
  -webkit-box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
          box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.5);
}

div.form-note.fold:before,
div.sticky-note.fold:before {
  border-width: 0 0 280px 570px;
  border-color: #EFE8A9 #cacdd2;
}

.popper {
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: #FFC107;
  color: black;
}

.popper span {
  padding: 7px;
}

.popper:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
}

.popper[x-placement=top] {
  margin-bottom: 5px;
}

.popper[x-placement=top]:after {
  border-bottom-width: 0;
  border-top-color: #FFC107;
  bottom: -5px;
  left: calc(50% - 5px);
}

.popper[x-placement=bottom] {
  margin-top: 5px;
}

.popper[x-placement=bottom]:after {
  border-top-width: 0;
  border-bottom-color: #FFC107;
  top: -5px;
  left: calc(50% - 5px);
}

.popper[x-placement=left] {
  margin-right: 5px;
}

.popper[x-placement=left]:after {
  border-right-width: 0;
  border-left-color: #FFC107;
  top: calc(50% - 5px);
  right: -5px;
}

.popper[x-placement=right] {
  margin-left: 5px;
}

.popper[x-placement=right]:after {
  border-left-width: 0;
  border-right-color: #FFC107;
  top: calc(50% - 5px);
  left: -5px;
}

.disable {
  background-color: rgba(221, 221, 221, 0.65);
  color: rgba(0, 0, 0, 0.65);
  cursor: not-allowed !important;
}

